
// [108] 允许省略初始化器内的括号
union { int a; char b[8]; } g13_2[2] = {0x01020304, 0x05060708};
struct {int a[2];} g40[2] = {{1, 2}, 3, 4};
struct {int a[2];} g41[2] = {1, 2, 3, 4};
char g43[][4] = {'f', 'o', 'o', 0, 'b', 'a', 'r', 0};

int main(){
  g13_2[0];
}